.container{
  background: #FFF;
  padding: 30px;

  margin: 50px auto;
  max-width: 640px;
  border-radius: 10px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h1{
  font-size: 20px;
  text-align: center;
}

.tarefas{
  margin-top: 30px;
}

.tarefas li span{
  display: flex;
  align-items: center;
}
.tarefas li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10PX;
}
.tarefas li:hover{
  background: #CCC;
  transition: all 400ms;
}

.tarefas li .edit, .tarefas li .delete{
  margin-right: 15px;
  cursor: pointer;
}


